<div class="container">
  <!-- <div class="py-5 text-center"> -->
    <!-- <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    <!-- <h2>Terminology / Glossary</h2> -->
    <!-- <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state
      that can be triggered by attempting to submit the form without completing it.</p> -->
  <!-- </div> -->
  <!-- <div class="row" style="margin-bottom: 10px;">

    <a class="left btn btn-outline-primary" href="rate">❮ Back to Rate</a>
  </div> -->
  <div class="row card">

    <div class="order-md-1 col-md-12 ">
      <h4 class="mb-3" ></h4>

      <form class="needs-validation col-md-12">
        <div class="row">
          <div class="col-md-12 card-body table-responsive-lg">


            <table class="table table-hover  ">
              <thead class="thead-light">
                <tr>
                  <th>Models</th>
                  <th>Definition</th>
                  <th>The way to charge per each Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>CPC</td>
                  <td>Cost Per Click</td>
                  <td>
                    <p>a pricing model where companies are charged for every click people make on a displayed/test ad which
                      leads people to your company’s website. All (Automotive, Banks, Insurance, Real Estate, Health, Education,
                      Research, Travel, E-Commerce, VAS)</p>
                  </td>
                </tr>
                <tr>
                  <td>CPL</td>
                  <td>Cost Per Lead</td>
                  <td>
                    <p>a pricing model where companies are charged only when leads are generated. All except VAS & Mobile Apps</p>
                  </td>
                </tr>
                <tr>
                  <td>CPVL</td>
                  <td>............</td>
                  <td>Real Estate only</td>
                </tr>
                <tr>
                  <td>CPA</td>
                  <td>Cost Per Action</td>
                  <td>
                    <P>a pricing model where companies are charged by advertising platforms only when leads, sales or conversions
                      are generated, VAS only</P>
                  </td>
                </tr>
                <tr>
                  <td>CPI</td>
                  <td>Cost Per Install</td>
                  <td>
                    <p>a pricing model where companies are charged by advertising platforms only when install are generated
                      for their app (IOS / Android) or download through desktop</p>
                  </td>
                </tr>
              </tbody>
            </table>

            <hr>
            <hr>

            <table class="table table-hover  ">
              <thead class="thead-light">
                <tr>
                  <th>Term
                  </th>
                  <th>Definition</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Category </td>
                  <td>
                    <p>the niches we are working on (automotive, Real estate, E-commerce, Travel, Heath, Education, VAS, Reseach,
                      Insurance, Banks and so on)</p>
                  </td>
                </tr>
                <tr>
                  <td>User Class</td>
                  <td>
                    <p>Class A, Class B, Class C
                    </p>
                  </td>
                </tr>

                <tr>
                  <td>Rate</td>
                  <td>
                    <p>is the final equation of what we will get per action</p>
                  </td>
                </tr>
              </tbody>
            </table>



            <hr>
            <hr>

            <table class="table table-hover  ">
              <thead class="thead-light">
                <tr>
                  <th>Region</th>
                  <th>Definition</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>GCC</td>
                  <td>
                    <p>Gulf Cooperation Council (KSA, UAE, Oman, Kuwait, Qatar, Bahrain)
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>Levant & Iraq</td>
                  <td>
                    <p>Iraq, Jordan & Lebanon</p>
                  </td>
                </tr>

                <tr>
                  <td>NA (North Africa)</td>
                  <td>
                    <p>"Algeria. Egypt. Libya. Morocco. South Sudan. Sudan. Tunisia. Western Sahara"
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>

            <hr>
            <hr>
            <table class="table table-hover  ">
              <thead class="thead-light">
                <tr>
                  <th>Banners</th>
                  <th>Who will create the banners of the campaign</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Client Only</td>
                  <td>
                    <p>we will work only with the client's banners</p>
                  </td>
                </tr>
                <tr>
                  <td>Own Only</td>
                  <td>
                    <p>we will work only with our own banners</p>
                  </td>
                </tr>

                <tr>
                  <td>CLient & Own</td>
                  <td>
                    <p>we will work with both our banners and client too</p>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

      </form>
    </div>
  </div>
  <!-- <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1"></p>
    <ul class="list-inline">

    </ul>
  </footer> -->
</div>